{
  "presets": ["es2015", "react"],
  "env": {
    "start": {
        "plugins": 
          ["transform-object-rest-spread", "transform-react-jsx", { 
                
                 }],
    }
  }
}